#form-alignment{
    margin-left: 2%;
    margin-top: 3%;
}

#sheet_button{
    margin-left: 2.5%;
    margin-top: 1%;
}

#list-alignment{
    margin-left: 2.5%;
    margin-top: 3%
}

#open_sheets_button{
    margin-left: 0.5%;
}